.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 150px;
  font-size: 100px;
  text-align: center;
  font-family: "NeoDunggeunmo";

  @media (max-width: 768px) {
    font-size: 50px;
  }
}

.canvas {
  height: 690px;
  @media (max-width: 992px) {
    display: none;
  }
}

.bottom {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 80px;
  width: 400px;
  border: none;
  text-align: center;
  font-size: 60px;
  font-family: "NeoDunggeunmo";
  background-color: white;
  color: black;
  cursor: pointer;

  @media (max-width: 768px) {
    height: 80px;
    width: 200px;
    font-size: 30px;
  }
}

.button:hover {
  transform: scale(1.1);
}
