.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card_horoscope {
  padding: 0.5rem 0 0.4rem 0;
  font-size: 25px;
  letter-spacing: 0.1rem;
}

.card_day {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.horoscope {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;

  @media (max-width: 992px) {
    height: auto;
  }
}

.horoscope_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.horoscope_list {
  width: 900px;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;
  padding: 0;
  list-style: none;

  @media (max-width: 992px) {
    width: 200px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 20px 0;
  }
}

.blink {
  text-shadow: -1px 0px #ff00ff, 0px 1px #ff00ff, 1px 0px #ff00ff,
    0px -1px #ff00ff;
  animation: blink-effect 1s step-end infinite;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
