.keyword_container {
  display: flex;
  justify-content: center;
  background-color: #000000;
  overflow-y: scroll;
}

.keyword {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  margin: 1rem;
  padding: 2rem 4rem;

  @media (max-width: 768px) {
    padding: 1rem;
    border: none;
  }
}

.keyword > div {
  padding: 1rem 0;
}

.keyword_title {
  font-size: 50px;
}

.keyword_today {
  font-size: 50px;
}

.keyword_today_title {
  font-size: 30px;
}

.keyword_today_content {
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 20px;
}

.keyword_love {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyword_heart {
  margin-top: 1rem;
  font-size: 30px;
}

.keyword_love_content {
  text-align: center;
  letter-spacing: 2px;
  line-height: 30px;
  margin-top: 2rem;
  font-size: 20px;
}
